body {
    background-color: #E5E5E5;
   
    
}

.about-bg {
    background-color: #F9F9F9;
    width: 790px;
    height: 365px;
    bottom: 150px;
    position: relative;
}

.banner {
    height: 100vh;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    display: flex;
}

.banner-content {
    text-align: center;
}


.banner-text {
    color: #FF5733;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
}

.banner-headline {
    font-size: 64px;
    font-weight: 700;
}

.banner-btn {
    background-color: #FF5733;
    border-radius: 50px;
    height: 52px;
    width: 200px;
    border: 0px;
    color: #FFFFFF ;
    font-weight: 700;
}

.company-logo{
    margin-bottom: 123px;
}


.service-card{
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    height: 390px !important;
    width: 370px !important;
    border-radius: 8px;
    /* border: 0px white; */
    background-color:  #FFFFFF;
    

}

.service-card a {
    text-decoration: none;
    color: #FF5733;
}

p a {
    text-decoration: none;
    color: black;
}

.service-logo{
    width: 66px;
    height: 44px;
}

