body {
    background-color: #E5E5E5;
   
    
}

.about-bg {
    background-color: #F9F9F9;
    width: 790px;
    height: 365px;
    margin: 0 auto;
    margin-top: -300px;
    
    
    
}

.banner {
    height: 100vh;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    display: flex;
}

.banner-content {
    text-align: center;
}


.banner-text {
    color: #FF5733;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
}

.banner-headline {
    font-size: 64px;
    font-weight: 700;
}

.banner-btn {
    background-color: #FF5733;
    border-radius: 50px;
    height: 52px;
    width: 200px;
    border: 0px;
    color: #FFFFFF ;
    font-weight: 700;
}

.company-logo{
    margin-bottom: 300px;
}


.service-card{
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    height: 370px !important;
    width: 350px !important;
    border-radius: 8px;
    background-color:  #ffffff ;
   margin-left: 50px;
    
}

.service-card a {
    text-decoration: none;
    color: #FF5733;
}

p a {
    text-decoration: none;
    color: black;
}

.service-logo{
    width: 66px;
    height: 44px;
}

.service-bg {

    background-color: #F9F9F9;
    width: 1370px;
    height: 265px;
    margin: 0 auto;
    margin-top: -180px;
    margin-bottom: 100px;
    
  
}





.testimonial-section {
    background-color: #F9F9F9;
    width: 1300px;
    height: 685px;
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 50px;
    
}

.testimonial-peragraph {
    height: 238px;
    width: 538px;
}

.testimonial-pople {
    /* border: 2px solid green; */
    height: 70px;
    width: 350px;
    
}

.testimonial-pople-img {
    height: 70px;
    width: 70px;
}

.testimonial-left-arrow {
    background-color: #EFEFEF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.arrow-box{
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    height: 150px;
    width: 300px;
    border: 2px solid green;
}

.testimonial-right-arrow{
    background-color: #EFEFEF;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin-left: 20px; */

}


.project-img{
    width: 570px;
    height: 570px;
  color: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 8.73%, rgba(196, 196, 196, 0) 54.45%);
    
}



